@import"https://fonts.googleapis.com/css?family=Original+Surfer";
@import"https://fonts.googleapis.com/css?family=Bree+Serif";
@import"https://fonts.googleapis.com/css?family=Bitter|Source+Sans+Pro";

body {
    margin-top: 15px;
    font-family: "Source Sans Pro", sans-serif;
    background-image: url("../photo/background.jpg")
}

.title {
    font-family: "Original Surfer", cursive;
    font-size: 2.5em
}

.dark {
    background: #bbb
}

.navbar-brand {
    font-family: "Original Surfer", cursive
}

.jobtitle {
    margin-top: 5px
}

.list {
    list-style: none
}

.head {
    font-family: "Bitter", serif;
    margin-left: 5px;
    font-size: 1.2em
}

.panel-heading {
    background: #bbb
}

#profile-picture {
    width: 15%;
    margin-left: 20px;
    visibility: hidden
}

.glyphicon {
    margin-right: 10px
}

.body {
    margin-bottom: 60px
}

.logo {
    margin-top: 10px;
    margin-right: 10px;
    height: 40px
}

.bootstrapLogoFooter {
    float: right;
    height: 25px;
    margin-top: 11px
}

.logo-large {
    height: 50px;
    padding-top: 10px;
    padding-right: 10px
}

@media(min-width: 428px) {
    #profile-picture {
        width: 15%;
        margin-left: 20px;
        visibility: hidden
    }

    .title {
        font-family: "Original Surfer", cursive;
        font-size: 3.7em
    }
}

@media(min-width: 600px) {
    #profile-picture {
        visibility: visible
    }

    .title {
        font-family: "Original Surfer", cursive;
        font-size: 3.7em
    }
}

@media(min-width: 768px) {
    #profile-picture {
        visibility: visible
    }

    .title {
        font-family: "Original Surfer", cursive;
        font-size: 4em
    }
}

@media(min-width: 992px) {
    .bootstrapLogoFooter {
        margin-top: 13px
    }
}

.intro {
    display: block;
    font-size: 1.11em
}

.phone-logo,
.email-logo {
    float: left
}

a {
    color: #000
}

.logo-panel {
    height: 20px;
    padding-right: 7px
}